.menu {
    width: 100%;
    height: 60px;
    /* background: linear-gradient(70deg, rgb(104, 98, 98), rgb(61, 33, 33)); */
    background: linear-gradient(70deg, rgb(104, 98, 98), rgb(138, 105, 78));
    position: relative;
    z-index: 100;
    display: flex;
    justify-content:space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;

}

.logo__image {
    height: 70%;
    cursor: pointer;

}

.menu-items {
    height: 0px;
    background:black;
    z-index: 100;
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    width: 100%;
    pointer-events: none;
    transition: 0.5s all .5s ease-in-out;
  }
  
  .menu-items.open {
    height: 80px;
    opacity: 1;
    pointer-events: initial;
    transition: all .5s ease-in-out;
}

.menu-item {
    background: none;
    font-family: inherit;
    border: none;
    padding: none;
    color: rgb(214, 198, 183);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    position: relative;
    left: -200px;
    font-size: 20px;
    width: 100%;
    text-align: left;
  }
  
.menu-item.open {
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.menu-item.open:hover {
  background-color: rgba(206, 131, 69, 0.493);
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .5s ease-in-out;
    cursor: pointer;

  }

  .menu-btn__burger:hover,
  .menu-btn__burger:hover::before,
  .menu-btn__burger:hover::after {
    box-shadow: inset 0px 0px 5px black;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(-35px, 35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(-35px, -35px);
  }

@media screen and (max-height: 800px) {

}