:root {
    --image-size: 100px;
}

.info {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(124, 124, 124));
}

.avatar {
    margin-top: 10px;
    width: 90%;
    height: 60%;
    background-color: rgba(189, 123, 61, 0.466);
    box-shadow: rgb(0, 0, 0) 2px 2px 10px 2px;
    color: white;
    border: 2px solid rgb(255, 171, 92);
    max-width: 400px;
    max-height: 500px;

}


.avatar__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.avatar__picture__container {
    --fake-border: 8px;
    background-color: rgb(255, 171, 92);
    width: calc(var(--image-size) + var(--fake-border));
    height: calc(var(--image-size) + var(--fake-border));
    clip-path: circle( calc((var(--image-size) + var(--fake-border)) /2 ) at calc((var(--image-size) + var(--fake-border)) /2 ) calc((var(--image-size) + var(--fake-border)) /2 ) );
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.avatar__picture {
    width: var(--image-size);
    height: var(--image-size);
    clip-path: circle(calc(var(--image-size)/2) at calc(var(--image-size)/2) calc(var(--image-size)/2));
}

.avatar__title {
    font-size: 18px;
    margin-left: 20px;
    width: 105px;
}

.avatar__body {
    padding: 40px 10px;
    text-align: left;
}

.info__bottom {
    color: white;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
}

.area {
    background-color: white;
    box-shadow: 0px 0px 3px 3px black;
    color: black;
    width: 150px;
    border: solid 2px orange;
    text-align: center;
}

.area__title {
    margin: 0px;
}
.area__picture {
    width: 146px;
}
.area__body {
    margin: 0px;
}

@media screen and (min-height: 800px) {
    .avatar {
        margin-top: 100px;
    }
}

@media screen and (min-width: 1100px) and (min-height: 800px) {
    .avatar__title {
        font-size: 24px;
        width: 140px;
    }

    .avatar__body {
        font-size: 18px;
    }

    .info {
        flex-direction: row;
        justify-content: center;
    }
    .info__bottom {
        flex-direction: column-reverse;
    }
    .area {
        background-color: white;
        box-shadow: 0px 0px 3px 3px black;
        color: black;
        width: 600px;
        border: solid 2px orange;
        text-align: center;
    }
    
    .area__title {
        margin: 0px;
    }
    .area__picture {
        width: 596px;
    }
    .area__body {
        margin: 0px;
    }
}